{% extends "base.html" %}
{% load static %}



{% block head_block %}
	
	<!-- Loding Sortable script -->
	<script src="{% static 'lib/sortable/Sortable.min.js' %}"></script>
	
{% endblock %}



{% block content %}
	
	
	
	<!-- Breadcrumbs -->
	<div class="mt-3"></div>
	<nav aria-label="breadcrumb mt-3">
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'gallery' gallery.id %}">Gallery {{ gallery.title }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">Edit Gallery {{ gallery.title }}</li>
		</ol>
	</nav>
	<!-- Breadcrumbs END -->
	

	<div class="container">
		<h1>
			{% if gallery %}Edit{% else %}Add{% endif %} Gallery {{ gallery.title }}
		</h1>
		
		
		<!-- Specifying the aspect ratio -->
		<style>
			.galleryimg {
				width: 150px;
				height: 150px;
			}
		</style>
		
		<!-- Image upload field -->
		{% include "gallery/image_upload_field.html" %}
		
	</div>
	
	
	
	
	
	
	
{% endblock %}